/*position fixe bouton inserer 
height du graphe pour ne pas décaler toute la page*/
.toggle {
	display: inline-block;
}

.toggle.expanded {
	
}

.content {
	width: 100%;
}

table #settings {
	border: none;
}

#contenus-onglets {
	heigth: 300px;
}

#onglets {
	font: bold 11px Batang, arial, serif;
	list-style-type: none;
	padding-bottom: 24px;
	/* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
	border-bottom: 1px solid #9EA0A1;
	margin-left: 0;
}

#onglets li {
	float: left;
	height: 21px;
	/* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
	background-color: #F4F9FD;
	margin: 2px 2px 0 2px !important;
	/* Pour les navigateurs autre que IE */
	margin: 1px 2px 0 2px; /* Pour IE  */
	border: 1px solid #9EA0A1;
}

#onglets a {
	display: block;
	color: #666;
	text-decoration: none;
	padding: 4px;
}

#onglets a:hover {
	background: #fff;
}

#onglets li.selected {
	border-bottom: 1px solid #fff;
	background-color: #fff;
}

.input_hidden {
	position: absolute;
	left: -9999px;
}

.selected {
	background-color: #1560BD;
}

#graphs label {
	display: inline-block;
	cursor: pointer;
}

#graphs label:hover {
	background-color: #efefef;
}

#graphs label img {
	padding: 2px;
}

#graphs2 label {
	display: inline-block;
	cursor: pointer;
}

#graphs2 label:hover {
	background-color: #efefef;
}

#graphs2 label img {
	padding: 2px;
}

#titre label {
	display: inline-block;
	cursor: pointer;
}

#titre label:hover {
	background-color: #efefef;
}

#titre label img {
	padding: 2px;
}

#legende label {
	display: inline-block;
	cursor: pointer;
}

#legende label:hover {
	background-color: #efefef;
}

#legende label img {
	padding: 2px;
}

#chartClicked {
	text-align: center;
	display: inline-block;
}

#charts {
	white-space:nowrap;
	overflow-y: hidden;
	overflow-x: auto;
}

.chart {
	height: 588px;
	display: inline-block;
	border: 1px solid #000;
	zoom: 0.25;
}

.active{
	zoom: 1;
	-ms-zoom: 1;
	-webkit-zoom: 1;
	-moz-transform: scale(1, 1);
	-moz-transform-origin: left center;

}

.modify {
	text-align: left;
	margin-left: 75px;
	margin-top: -20px;
}

.close {
	text-align: left;
}
